
﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Carefinder - Relationships worth caring for</title>

    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME STYLE  -->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- ANIMATE STYLE  -->
    <link href="assets/css/animate.css" rel="stylesheet" />
    <!-- FLEXSLIDER STYLE  -->
    <link href="assets/css/flexslider.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONTS  -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css' />
     <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
    
</head>
<body>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                         <img src="/assets/logo.png" width="150" height="100" />
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            
                           
                            <li><a <%= link_to 'Sign Up', :controller => :users, :action => :new %></a></li>
                             <li><a <%= link_to 'Help', :controller => :static_pages, :action => :help %></a></li>
                             <li><a <%= link_to 'About', :controller => :static_pages, :action => :about %></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
     <!-- MENU SECTION END-->
    <div id="slideshow-sec">
        <div id="carousel-div" class="carousel slide" data-ride="carousel" >
                   
                    <div class="carousel-inner">
                        <div class="item active">

                            <img src="/assets/1.jpg" width = 800 height = 600px alt="" />
                            <div class="carousel-caption">
                          <h1 class="wow slideInLeft" data-wow-duration="2s" > take care</h1>      
                                 <h2 class="wow slideInRight" data-wow-duration="2s" >find a friend</h2>  
                            </div>
                           
                        </div>
                        <div class="item">
                            <images src="/assets/2.jpg" width = 800px height = 600px alt="" />
                            <div class="carousel-caption">
                          <h1 class="wow slideInLeft" data-wow-duration="2s" >Find a companion</h1>      
                                 <h2 class="wow slideInRight" data-wow-duration="2s" >today</h2>  
                            </div>
                        </div>
                        <div class="item">
                            <img src="/assets/3.jpg" alt="" />
                            <div class="carousel-caption">
                          <h1 class="wow slideInLeft" data-wow-duration="2s" >sign up today </h1>      
                                 <h2 class="wow slideInRight" data-wow-duration="2s" >or today</h2>  
                            </div>
                           
                        </div>
                    </div>
                    <!--INDICATORS-->
                     <ol class="carousel-indicators">
                        <li data-target="#carousel-div" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-div" data-slide-to="1"></li>
                        <li data-target="#carousel-div" data-slide-to="2"></li>
                    </ol>
                    <!--PREVIUS-NEXT BUTTONS-->
                     <a class="left carousel-control" href="#carousel-div" data-slide="prev">
   
  </a>
  <a class="right carousel-control" href="#carousel-div" data-slide="next">
  
  </a>
                </div>
    </div>
    <!-- SLIDESHOW SECTION END-->
    <div class="below-slideshow">
         <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="txt-block">

              
                
									<h4> You need help in every day life?</h4>
									<p >
										Buying groceries
									</p>
                      </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="txt-block">

              
                
									<h4></h4>
									<p >
										Getting to the doctor
									</p>
                      </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="txt-block">

              
                
									<h4></h4>
									<p >
										Help in the house?
									</p>
                      </div>
            </div>
        </div>

    </div>
    </div>
    <!-- BELOW SLIDESHOW SECTION END-->
      <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="tag-home">  Sign up for New Wings.</h1> 
             <h1 class="tag-home">  Our organization aspires to create a community of people that are not indifferent to each other’s needs. We believe that the service we are providing will benefit every person involved, and make the world better one “Service” at a time.</h1> 
               <hr />
                 </div>
            </div>
          </div>
     <!-- TAG HOME SECTION END-->
   
            <div class="container">
             
        <div class="row pad-set">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="just-txt-div">
                    <h2>Friendly and from the heart</h2>
                    <br />
                <p>
                     Our service helps connect users in minutes allowing for requests to be answered regardless of whether you need help in the next 30 minutes or in the next 3 days.
                </p>
                     <p>
                     All our assistants will gladly spend time with their patrons doing everything from playing board games, cleaning to even just listening to what they have to say.
                </p>
                    <p>
                     People seek companionship and our society often fails to see this. Our goal is to use our service in order to bring people closer again, and remind them just how important it is for everyone to have someone that cares for them.
                </p>
                </div>
                
                </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="just-txt-div">
                      <br />
                 <iframe class="vedio-style" src="http://www.youtube.com/embed/VpZmIiIXuZ0"></iframe>
                      </div>
                </div>
            </div>
          </div>      


   <div class="footer-sec">
         <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

              
									<h3> <strong>ABOUT COMPANY</strong> </h3>
									<p style="padding-right:50px;" >
										This is about carefinder

									</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 social-div">
               

              
										<h3> <strong>SOCIAL PRESENCE</strong> </h3>
                We love to be social,Catch Us On
                <a href="#" ><h4>FACEBOOK </h4></a>
                   <a href="#" ><h4>TWITTER </h4></a>
                 <a href="#" ><h4>LINKEDIN </h4></a>
									
                    
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h3> <strong>PHYSICAL LOCATION</strong> </h3>
                Reach Us Below:
                <p> some adress</p>
            </div>
        </div>
 <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
               <div style="text-align:right;padding:5px;">
                    &copy;2017 StarterHacks Waterloo  | <a href="http://www.starterhacks.ca/" style="color:#fff;" target="_blank" >Designed By: chickenWings</a>
                </div>
            </div>
    </div>
    </div>
       </div>
     <!--FOOTER SECTION END-->
      <!-- WE PUT SCRIPTS AT THE END TO LOAD PAGE FASTER-->
     <!--CORE SCRIPTS PLUGIN-->
    <script src="assets/js/jquery-1.11.1.min.js"></script>
     <!--BOOTSTRAP SCRIPTS PLUGIN-->
<script src="assets/js/bootstrap.js"></script>
     <!--WOW SCRIPTS PLUGIN-->
    <script src="assets/js/wow.js"></script>
     <!--FLEXSLIDER SCRIPTS PLUGIN-->
    <script src="assets/js/jquery.flexslider.js"></script>
     <!--CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
</body>

</html>