<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
blllaaa we are super cool
<%= link_to 'Sign Up', :controller => :users, :action => :new %>
<%= link_to 'About', :controller => :static_pages, :action => :about %>
<%= link_to 'Help', :controller => :static_pages, :action => :help %>

